<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>GTD Merch - {{ title }}</title>
    </head>
    <body>
        <h1>Order List</h1>
        {% for order in orders %}
        <section>
                <i>Customer: {{ order.customer_name }}</i>
                <p>Order Date: {{ order.order_date }}</p>
                {% for product in order.basket %}
                <b>Product: {{ product.item }} x {{ product.qty }}</b> - £{{ product.price }}
                {% set order_total_price = product.price %}
                <br>
                {% endfor %}
                <br>
                <b>Total for order: £{{ order.basket_total }}</b>
                <br>
                <br>
                <a href="/orders/{{ orders.index(order) }}">Order Details</a>
        </section>
        <br>
        {% endfor %}
    </body>
</html>