<html>
    <head>
        <title>GTD Merch - {{ title }}</title>
    </head>
    <body>
        <h1>Order List</h1>
        {% for order in orders %}
        <section>
                <i>Customer: {{ order.customer_name }}</i>
                <p>Order Date: {{ order.order_date }}</p>
                <b>Product: {{ order.merch_description }} x {{ order.quantity }}</b>
                <a href="/orders/{{ orders.index(order) }}">Order Details</a>
        </section>
        {% endfor %}
    </body>
</html>